@charset "UTF-8";
/* CSS Document */
html, body {
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url(lysegraa.jpg)
}
h1 {
	
}
#wrapper {
	display: flex;
		flex-wrap: wrap;
			justify-content: space-around;
			margin-left: auto;
			margin-right: auto
	
}
#top {
	width: 100%;
	background-color: rgba(0,0,0,0.75);
	display: flex;
}
#menu {
	width:70%;
	
}
#logo {
	width: 29%;
	text-align: center;
	font-family: "Gloria Hallelujah", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: rgba(236,233,233,1.00);
	font-size: 0.8em;
		
}
#logo a {
	color: #FFFFFF;
    text-decoration: none;
}

#menu li {
	list-style: none;
	margin:0;
	padding:0;
	display: inline;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1em; 
	letter-spacing: 2px;
	
	
	
}
#menu a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	float: right;
	margin: 0px 40px 0px 40px;
	padding-top: 40px;
	font-weight: 300
}
#menu a:hover { /* hover betyder man kan style hvad der sker når man bruger linket eller kører musen hen over*/
	text-shadow: 2px 2px 20px rgba(255,255,255,1.00);
}
#menu a.selected {
	
}
#logoet {
	width: 18%;
	float: left;
	padding-top: 7px;
	padding-right: 5px;
	padding-left: 10px;
}
#indholdsbox {
	width: 100%;
}
	
#indhold {
	border: solid 1px bLACK;
	height: 200px;
	width: 49.8%;
}
#indhold2 {
	border: solid 1px bLACK;
	height: 200px;
	width: 49.9%;
}
footer {
	position: absolute;
  	right: 0;
 	bottom: 0;
 	left: 0;
	padding: 1rem;
	background-color: rgba(0,0,0,0.75);
  	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 300;
}